*{background: #131313;}


.playwrite-it-moderna- uniquifier> {
    font-family: "Playwrite IT Moderna", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h1{
color: white;
text-align: center;
text-shadow: 0px 0px 19.1px #000;
-webkit-text-stroke-width: 0.4px;
-webkit-text-stroke-color: white;
font-family: "Playwrite IT Moderna", serif;
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 6.08px;
}

h2{
    color: white;
    text-align: center;
    text-shadow: 0px 0px 19.1px #000;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
    font-family: Synonym;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 6.08px;
}

h3{
    color: white;
    text-align: center;
    text-shadow: 0px 0px 19.1px #000;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
    font-family: Synonym;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 5.08px;
}

h4{
    color: white;
    text-align: Left;
    text-shadow: 0px 0px 19.1px #000;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
    font-family: Synonym;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 5.08px;
}

#link{
    color: white;
    text-align: left;
    text-shadow: 0px 0px 19.1px #000;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
    font-family: Synonym;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 5.08px;
}

p{
color: white ;
text-align: left;
font-family: Synonym;
font-size: 16px;
font-style: normal;
font-weight: 50;
line-height: 146.23%;
letter-spacing: 0.5px;
}

ul{
    color: white ;
    text-align: left;
    font-family: Synonym;
    font-size: 16px;
    font-style: normal;
    font-weight: 50;
    line-height: 146.23%;
    letter-spacing: 0.5px;
}

#link2{
    color: white ;
    text-align: left;
    font-family: Synonym;
    font-size: 16px;
    font-style: normal;
    font-weight: 50;
    line-height: 146.23%;
    letter-spacing: 0.5px;
}
